{
    "env": {
      "browser": true,
      "es6": true,
      "jest": true,
      "node": true
    },
    "plugins": ["import"],
    "extends": [
      "plugin:react/recommended",
      "plugin:prettier/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
      // Add linting rules here
    }
  }